<?xml version="1.0"?>
<robot name="cap_only">
  <link name="base">
    <visual>
      <geometry>
        <mesh filename="../tumbler/meshes/cap_visual.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../tumbler/meshes/cap_collision.obj"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <origin xyz="0.000051 0.000485 0.015506"/>
      <inertia ixx="0.00004334" iyy="0.00004411" izz="0.00008291" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
</robot>
